.studio-sidebar {
    width: 250px;
    height: 100vh;
}

.studio-sidebar hr {
    margin: 1rem 0;
    color: #212529;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

.nav-link.active svg {
    fill: #fff;
}

.nav-link svg {
    fill: #000;
}

.studio-login {
    width: 40%;
}

.studio-form {
    max-width: 300px;
    width: 100%;
}

.studio-image {
    background-image: url('../img/studio_bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

input.form-control::placeholder {
    color: #888;
}

.search-box {
    width: 60%;
}

.client_avatar {
    width: 60px; 
    height: 60px; 
    font-size: 1.5rem;
}

.input-group select {
    min-width: 110px;
    font-weight: 500;
}

select option {
    padding-left: 4px;
}


/* Media Queries */

@media (min-width: 771px) {
    .studio-sidebar{    
        box-shadow: 2px 0 8px rgba(0,0,0,0.08);
        z-index: 1000;
    }
}

@media (max-width: 770px) {
    .studio-sidebar {
        width: 100%;
    }

    .studio-login {
        width: 100%;
        height: 70vh;
    }

    .studio-image {
        height: 30vh;
    }

    .search-box {
        width: 100%;
    }
}