<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <title>StudioFlow - {% block title %}{% endblock %}</title>
</head>
<body>
    
    <div class="d-flex flex-column flex-md-row min-vh-100">
        <div class="container-fluid p-4 flex-shrink-0 bg-light d-flex align-items-center justify-content-center order-2 order-md-0 studio-login">
            {% block initialForms %}{% endblock %}            
        </div>

        <!-- Main content -->
        <main class="container-fluid flex-grow-1 order-1 order-md-1 p-0">
            {% block main %}{% endblock %}
            
        </main>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>